/* ----------------------------------------------------------- */
/* ---------- BASIC SET UP ---------- */
/* ----------------------------------------------------------- */

html,
body {
    color: #303030;
    font-family: 'Lato', 'arial', 'sans-serif';
    font-weight: 300;
    font-size: 22px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ----------------------------------------------------------- */
/* ---------- REUSABLE COMPONENTS ---------- */
/* ----------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0px auto;
}

/* ---------- HEADERS ---------- */

h1 {
    font-size: 220%;
    font-weight: 700;
    text-align: center;
}

h1:after {
    display: block;
    height: 1px;
    background-color: #303030;
    content: " ";
    width: 355px;
    margin: 0 auto;
    margin-top: 20px;
}

h2 {
    font-size: 150%;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: -20px;
    text-align: center;
}

h2 span {
    font-weight: 300;
}

h3 {
    margin-top: 30px;
    font-weight: 700;
}

h4 {
    margin-top: -30px;
    margin-bottom: 70px;
}

h3 span {
    font-weight: 300;
}

h4 span {
    font-weight: 300;
    color: rgb(20, 150, 48);
}

/* ---------- NAVBAR ---------- */


.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #121212;
}

.navbar li {
    display: inline-block;
    margin-right: 40px;
    padding: 20px 0;
}

.navbar li a:link,
.navbar li a:visited {
    padding: 6px 0;
    color: rgb(202, 202, 202);
    text-decoration: none;
    text-transform: lowercase;
    font-size: 90%;
    font-weight: 400;
    transition: color 0.2s;
}

.navbar li a:hover,
.navbar li a:active { color: #EC407A; }

.navbar li a.active:link,
.navbar li a.active:active {
    color: #EC407A;
}

.navbar li a.active:hover,
.navbar li a.active:visited {
    color: #EC407A;
}

/* ----------------------------------------------------------- */
/* ---------- BODY ---------- */
/* ----------------------------------------------------------- */

.section-full-width img {
    width: 100%;
}

.section-full-width img {
    margin-top: 90px;
}

.center {
    text-align: center;
}

p {
    margin-top: 30px;
    margin-bottom: 70px;
    line-height: 150%;
}

.registered {
    font-size: 60%;
}

p span {
    font-weight: 700;
}

.row-color {
    background-color: rgb(240, 240, 240)
}

.version-update img {
    margin-bottom: 10px;
}

.version-update-2 img {
    margin-top: 10px;
}

.feedback::before {
    display: block;
    height: 1px;
    background-color: #303030;
    content: " ";
    width: 355px;
    margin: 0 auto;
    margin-top: 20px;
}

#noco-responsive {
    font-style: italic;
    font-size: 75%;
    color: rgb(102, 102, 102);
    margin-top: -60px;
}

.section-full-width a {
    text-decoration: none;
    color: #EC407A
}

/* ---------- SLIDESHOW ---------- */


/* ----------------------------------------------------------- */
/* ---------- FOOTER ---------- */
/* ----------------------------------------------------------- */

footer {
    background-color: #020202;
    height: 100px;
    margin-top: 20px;
}

.footerbar {
    list-style: none;
}

.footerbar li {
    display: inline-block;
    margin-top:30px;
    margin-right: 40px;
}

.footerbar li a:link,
.footerbar li a:visited {
    padding: 6px 0;
    color: rgb(202, 202, 202);
    text-decoration: none;
    text-transform: lowercase;
    font-size: 90%;
    font-weight: 300;
    transition: color 0.2s;
}

.footerbar li a:hover,
.footerbar li a:active { color: #EC407A; }

.signature p {
    color: #aaa;
    font-size: 80%;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: -45px;
    margin-left: 40px;
}

.footerbar li a.active:link,
.footerbar li a.active:active {
    color: #EC407A;
}

.footerbar li a.active:hover,
.footerbar li a.active:visited {
    color: #EC407A;
}

.signature span { 
    color: #EC407A;
    font-weight: 300;
}

#signature-id {
    margin-bottom: 0;
}