/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {

    .van-text {
    display: none;
    }
    
    
    .mountain-road-graphic {
      width: 98%;
      margin-left: 1%;
      margin-top: -32%;
    }

    .van-graphic {
        width: 30%;
        margin-top: -15.5%;
        margin-left: 48%;
    }
    
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {

    .signature p {
        display:none;
    }

    .work-box {
        height: 300px;
    }

    .work-box .btn {
        transform: translate(0, 80px);
    }

    body { font-size: 20px; }
    section { padding: 60px 0; }

}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 20px; }
    section { padding: 30px 0; }

    h1 { font-size: 18px;}
    
    .row,
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }

    .work-box {
        height: 400px;
    }

    .work-box .btn {
        transform: translate(10px, 110px);
        height: 30px;
        font-size: 22px;
    }
    
    
    .main-nav { display: none; }
    
    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    h1 { font-size: 200%; }
    h2 { font-size: 150%; }

}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    section { padding: 25px 0; }
    h1 { font-size: 35px;}

    .section-experience h4 {
        margin: 20px 10px 0 10px;
    }

    .section-about-me {
        height: 110vh;
    }
}